<div style="color: white; font-family: 'Titillium Web', sans-serif; margin-bottom: 50px;">    
    <h1 style="text-align: center;">Lista de Compras</h1>
    <h5 style="text-align: center;">Listagem de que será comprando no supermercado.</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/shampoo.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left" >Produtos de Limpeza</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="produtoLimpeza in produtosLimpeza">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{produtoLimpeza.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{produtoLimpeza.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{produtoLimpeza.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{produtoLimpeza.valorTotal}}</div> 
                        </div>      
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/toothbrush.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left" >Higiene Pessoal</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="higiene in higienePessoal">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{higiene.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{higiene.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{higiene.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{higiene.valorTotal}}</div> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/hamburger.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left">Comida</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="comida in comidas">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{comida.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{comida.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{comida.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{comida.valorTotal}}</div> 
                        </div> 
                    </div>
                </div>
            </div>   
        </div>   
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/onion.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left" >Legumes</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="legume in legumes">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{legume.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{legume.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{legume.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{legume.valorTotal}}</div> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/apple.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left" >Frutas</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="fruta in frutas">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{fruta.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{fruta.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{fruta.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{fruta.valorTotal}}</div> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/doughnut.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left">Besteiras</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="besteira in besteiras">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{besteira.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{besteira.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{besteira.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{besteira.valorTotal}}</div> 
                        </div> 
                    </div>
                </div>
            </div>   
        </div>  
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-4" >
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="background: #708090; border: 1px solid transparent; border-radius: 5px;">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3" style="margin-top: 10px; margin-bottom: 10px; float: none; display: inline-block; vertical-align: middle;">
                                <img src="img/beer.png" class="img-responsive" alt="Responsive image">
                            </div>
                            <div class="col-sm-8" style="float: none; display: inline-block; vertical-align: middle;">
                                <div class="text-left" >Bebidas</div>
                            </div>
                        </div>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 8px; font-size: 11px;" ng-repeat="bebida in bebidas">
                            <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important;">{{bebida.nome}}</div>
                            <div class="col-sm-2" style="padding-left: 0px !important; padding-right: 0px !important;">Qtd: {{bebida.quantidade}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PU: R${{bebida.preco}}</div>
                            <div class="col-sm-3" style="padding-left: 0px !important; padding-right: 0px !important;">PT: R${{bebida.valorTotal}}</div> 
                        </div>
                    </div>
                </div>
            </div>             
        </div>              
    </div>  
</div>